body{
    background-color: #006460;
    color:#FFFFFF;
    font-style: normal;
    font-family:Roboto,sans-serif;
    text-align: center;
    align-items: center;
}

main{
    width:100%;
}

/*Tipografia*/



.title{
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
}

.container-stepper{
    font-size: 80px;
}

.attuale{
    color:#00A09A;
}

span{
    transition:color 200ms ease  ;
}

.text{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.button{
   background-color: #FFFFFF;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   text-align: center;
   color: #00A09A;
   border-radius: 8px;
   border:none;
   padding: 0.5rem 2rem;
   transition: background-color 1.5s ease, color 1.5s ease;
}

/*Layout*/

.container-flex{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


.container-text{
    width:300%;
}

.container-images{
    width:400%;
    margin-top: 4rem;
}

.image{
    transition:transform 400ms ease;
}

.container-text-main,
.image,
.container-stepper,
.container-logo{
    width:100%;
}

.main{
    flex-direction: column;
}


.container-logo{
   transition-property:transform,margin ;
   transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container-stepper{
    width:100%;
    justify-content: center;
    margin-top: -3rem;
    transition:transform 400ms ease;
}

.container-text-main{
    margin-top: 2rem;
    transition: transform 500ms ease;
}


.text{
    margin-top: 1rem;
}

.container-button{
    width:100%;
    position:absolute;
    bottom:1.5rem;
    left:0;
    transition:transform 400ms ease;
}

.button:hover{
    background-color: #ee0066;
    color:white;

}