body{
    background-color: #006460;
    color:#FFFFFF;
    font-style: normal;
    font-family:Roboto,sans-serif;
    text-align: center;
    align-items: center;
}

main{
    width:100%;
}

/*Tipografia*/



.title{
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
}

.container-stepper{
    font-size: 80px;
}

.attuale{
    color:#00A09A;
}

.text{
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.button{
   background-color: #FFFFFF;
   font-family: Montserrat;
   font-style: normal;
   font-weight: bold;
   font-size: 16px;
   text-align: center;
   color: #00A09A;
   border-radius: 8px;
   border:none;
   padding: 0.5rem 2rem;
   transition: background-color 500ms ease, color 1.5s ease;
}

/*Layout*/



.container-flex{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
} 

.container-images,
.container-text{
    width:300%;
}

.container-images{
    margin-top: 5rem;
}

.container-text-main,
.image{
    width:100%;
}

.container-images .slide2{
    margin-top: -2.25rem;
 
}

.main,
.container-text{
    flex-direction: column;
}

.container-text-main{
    margin-top: 2rem;
}

/* .container-main-title .slide1{
    margin-left: 6rem;
} */

.text{
    margin-top: 1rem;
}

.container-button{
    width:100%;
    position:absolute;
    bottom:1.5rem;
    left:0;
}

.button:hover{
    background-color: #ee0066;
    color:white;

}