body{
    font-family: 'Inter', sans-serif; 
    color:#404040;
    font-style: normal;
    text-decoration: none;
    background-color: #FFFFFF;
}

main{
    padding: 0 0 1rem 1rem;
    margin:2.5%;
}

/* tipografia */
.container-nav{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 1rem 3rem 0  1rem;
}

.title-site-text{

    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
}

.parola-diversa{
    color: #1AA29C; 
}

h1{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 64px;
}

.hero-subtitle{
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.hero-container-counter{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.hero-counter-obbiettivo{
    text-align: right;
    color: #D3D3D5;
}

.hero-counter-current::before{
    content: '1470 ';
    font-weight: 600;
    font-size: 28px;    
}

.container-button{
    background-color: #1AA29C;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    float:right;
    clear:both;
}

.footer-text{
    font-family: 'Source Code Pro';
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #D3D3D5;
    letter-spacing: 0.26em;
}

a{
    text-decoration: none;
    color: #404040;
}

a:hover,
a:focus{
    text-decoration: underline;
    color:#1AA29C;
}


/* Layout */

.container-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.title-site{

    display: flex;
    align-content: center;
}

.title-site-text{
    margin-top: 0.75rem;
}

.navigations{
    display: flex;
    justify-content: center;
}

.navigations a{
    margin-left:6rem;
}

.hero-subtitle{
    margin-top: -2rem;
}

.hero-container-counter{
    background: #FFFFFF;
    box-shadow: 5px 10px 24px rgba(26, 162, 156, 0.24);
    border-radius: 14px;
    padding: 1.25rem;
    margin-top: 2.25rem;
    clear:both;    
    float:right;
    width:92.5%;
}

.hero-counter-progress-container{
    width: 100%;
    margin: 1rem 0;
    background-color:#D3D3D5;
    height:10px;
    border-radius: 14px;
}

.hero-counter-progress{
    width:60%;
    height: 10px;
    background-color: #1AA29C;
    border-radius: 14px;
}

.container-button{
    margin-top: 1.25rem;
    justify-content: center;
    right:1.5rem;
    padding: 0.5rem 1rem;
}

.hero-button-img{
    margin-left: 0.5rem;
}

.container-right{
    margin-left: 3%;
    
}

.container-text{
    width:50%;
}

.container-footer{
    position: absolute;
    bottom : 1rem;
    right: 3rem;
}

.footer-text{
    margin: 1.25rem 0.75rem 0 0;
}

@media(max-width: 675px){
    main{
        margin:none;
    }
    .navigations{
        display:none;
    }

    .container-right{
        display:none;
    }

    .container-text{
        width:100%;
        margin:auto;
    }

    .container-footer{
        right: 35%;
    }
}