body{
    font-family: 'Inter', sans-serif;
    padding: 1rem 1rem; 
    color:#404040;
    font-style: normal;
    text-decoration: none;
    background-color: #E5E5E5;
}

main{

    margin:2.5%;

}

/* tipografia */
.container-nav{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.title-site-text{
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
}

.parola-diversa{
    color: #1AA29C; 
}

h1{
    font-family: Inter, sans-serif;
    font-size: 64px;
}

.hero-subtitle{
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}

.hero-container-counter{
    font-weight: 600;
    font-size: 14px;
    line-height: 17px; 
}

.hero-counter-obbiettivo{
    text-align: right;
    color: #D3D3D5;
}

.hero-counter-current::before{
    content: '1470 ';
    font-weight: 600;
    font-size: 28px;    
}

.container-button{
    background-color: #1AA29C;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    float:right;
}

.footer-text{
    font-family: 'Source Code Pro';
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #D3D3D5;
    letter-spacing: 0.26em;
}

a{
    text-decoration: none;
    color: #404040;
}

a:hover,
a:focus{
    text-decoration: underline;
    color:#1AA29C;
}


/* Layout */

.container-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


.title-site{
    display: flex;
}

.title-site-text{
    margin: 1rem 0  0  1rem;
}

.navigations ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.navigations li{
    margin-left:1.5em;
}

.hero-subtitle{
    margin-top: -2rem;
}

.hero-container-counter{
    background: #FFFFFF;
    box-shadow: 5px 10px 24px rgba(26, 162, 156, 0.24);
    border-radius: 14px;
    margin-top: 2.5rem;
    padding: 1.25rem;
}

.hero-counter-progress{
    position: relative;
    margin: 1rem 0;
}

.img-counter-sotto{
    display:block;
    height: 8px;
    width: 100%;

}

.img-counter-sopra{
    position: absolute;
    width: 60%;
    height: 8px;
}

.container-button{
    margin-top: 1rem;
    justify-content: center;
    right:1.5rem;
    padding: 1rem 0.5rem;
}

.hero-button-img{
    margin-left: 0.5rem;
}

.container-right{
    margin-left: 3%;
}

.container-footer{
    position: absolute;
    bottom : 1rem;
    right: 1rem;
}

.footer-text{
    margin: 1.25rem 0.75rem 0 0;
}

@media(max-width: 675px){
    main{
        margin:none;
    }
    .navigations{
        display:none;
    }

    .container-right{
        display:none;
    }

    .container-footer{
        right: 35%;
    }
}